@font-face {
  font-family: myFont;
  src: url(../Fonts/Ubuntu/Ubuntu-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont, 'Courier New', Courier, monospace;
}

body {
  background-color: #FAF9F6;
}

section {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;

  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-left: 40px;
  margin-right: -20px;
}

.header li {
  margin-right: 40px;
  border-bottom: 3px solid #FAF9F6;
}

.header li:hover {
  border-bottom: 3px solid black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 250px;
}

.menuContent {
  display: none;
}

.contactContent {
  display: none;
}

.mainContent {
  position: relative;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textBox {
  position: relative;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 600px;
}

.textBox h1 {
  margin: 0;
  font-size: 2em;
}

.textBox p {
  font-size: 1.1em;
}

.textBox a {
  text-decoration: none;
  font-size: 20px;
  color: #FAF9F6;
  background-color: red;
  padding: 10px 20px;
  border-radius: 40px;
  letter-spacing: 1px;
}

.images img {
  width: 300px;
}

.socialMedia {
  writing-mode: vertical-rl;
  margin-left: 30px;
}

.socialMedia ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.socialMedia li a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.socialMedia li a {
  border-left: 3px solid #FAF9F6;
}

.socialMedia li:hover a {
  border-left: 3px solid rgb(0, 0, 0);
}

.mainContent footer {
  position: absolute;
  bottom: 0;
}

a,
.credit a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: grey;
}

.credit {
  padding-top: 30px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
}

.credit div {
  margin-top: 10px;
  display: flex;
  gap: 5px
}

a img {
  width: 20px;
}

/*swiper*/
.swiper {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.swiper-slide img {
  width: 400px;
}

.swiper-slide-next,
.swiper-slide-prev {
  filter: blur(3.5px);
}

.swiper-button-prev,
.swiper-button-next {
  color: grey;
}

.swiper-pagination-bullet-active {
  background-color: grey;
}
