#header {
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

li {
  text-decoration: none;
}

.pageContent {
  display: none;
}