
@media screen and (min-width: 1775px) {
  .header ul {
    font-size: 1.8em;
  }

  .textBox h1 {
    margin: 0;
    font-size: 3em;
  }
  
  .textBox p {
    font-size: 1.5em;
  }
  
  .textBox a {
    font-size: 2em;
  }

  .swiper-slide {
    width: 600px;
    height: 600px;
  }
  
  .swiper-slide img {
    width: 600px;
  }

  .textBox {
    min-width: 850px;
  }
}

@media screen and (min-width: 1351px) and (max-width: 1774px){
  .header ul {
    font-size: 1.8em;
  }

  .textBox h1 {
    margin: 0;
    font-size: 3em;
  }
  
  .textBox p {
    font-size: 1.5em;
  }
  
  .textBox a {
    font-size: 2em;
  }

  .swiper-slide {
    width: 475px;
    height: 475px;
  }
  
  .swiper-slide img {
    width: 475px;
  }

  .textBox {
    min-width: 550px;
  }
}

@media screen and (max-width: 1350px){
  .mainContent {
    margin-top: 100px;
    gap: calc(100vh / 20);
    flex-direction: column;
  }

  .swiper-slide {
    width: 375px;
    height: 375px;
  }
  
  .swiper-slide img {
    width: 375px;
  }

  .textBox {
    min-width: 650px;
  }

  .socialMedia {
    writing-mode: initial;
    margin-top: 80px;
  }

  .socialMedia li a {
    border: none;
    border-bottom: 1px solid white;
  }
  
  .socialMedia li:hover a {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}



@media screen and (max-width: 1020px) {
  .textBox {
    min-width: 250px;
  }

  .logo img {
    max-width: 200px;
  }
} 


@media screen and (min-width: 600px) {
  .menu {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  .mainContent {
    margin-top: 100px;
  }

  .menu,
  .menu img {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .close-btn {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 10000;
  }

  .navigation {
    display: none;
  }

  .close-btn {
    display: none;
    filter: invert(1);
  }

  .active {
    height: 101%;
    width: 101%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.906);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  .active ul {
    color: aliceblue;
    font-size: 2em;
    flex-direction: column;
    align-items: center;
    gap: 75px;
  }

  .active li {
    border: none;
  }

  .active li:hover {
    border-bottom: .5px solid white;
    cursor: pointer;
  }

  .socialMedia {
    writing-mode: initial;
    margin-inline: 2px;
    margin-top: 75px;
    margin-bottom: 20px;
  }

  footer {
    margin-block: 20px;
  }

  .swiper-slide {
    width: 180px;
    height: 180px;
  }
  
  .swiper-slide img {
    width: 180px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
}
} 