@media screen and (min-width: 1850px) {
  .swiper-slide {
    width: 650px;
    height: 650px;
  }
  
  .swiper-slide img {
    width: 650px;
  }

  .textBox {
    max-width: 850px;
  }
}


@media screen and (min-width: 1700px) {
  .swiper-slide {
    width: 500px;
    height: 500px;
  }
  
  .swiper-slide img {
    width: 500px;
  }

  .textBox {
    max-width: 800px;
  }
}


@media screen and (max-width: 1300px) {
  .swiper-slide {
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    width: 300px;
  }

  .textBox {
    max-width: 400px;
  }
  .menu {
    display: none;
  }
}



@media screen and (max-width: 1020px) {
  .mainContent {
    margin-top: calc(100vh / 18);
    gap: calc(100vh / 20);
    flex-direction: column;
  }

  .logo img {
    max-width: 180px;
  }

  .socialMedia {
    writing-mode: initial;
    margin-top: 150px;
  }

  .socialMedia li a {
    border: none;
    border-bottom: 3px solid white;
  }
  
  .socialMedia li:hover a {
    border: none;
    border-bottom: 3px solid rgb(0, 0, 0);
  }
} 


@media screen and (min-width: 600px) {
  .menu {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  .menu,
  .menu img {
    display: block;
    width: 30px;
    height: 30px;
  }

  .menu {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 10000;
    cursor: pointer;
  }

  .navigation {
    display: none;
  }

  .close-btn {
    display: none;
    filter: invert(1);
  }

  .active {
    height: 101%;
    width: 101%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .95);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }

  .active ul {
    color: aliceblue;
    font-size: 3em;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .active li {
    border: none;
  }

  .active li:hover {
    border: none;
    cursor: pointer;
  }

  .socialMedia {
    writing-mode: initial;
    margin-inline: 2px;
    margin-top: 60px;
  }

  .swiper-slide {
    width: 180px;
    height: 180px;
  }
  
  .swiper-slide img {
    width: 180px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
}
} 